<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="connection" value="https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyCRuMrU5eZqvCXaxRg8FOacV9iea6SBEkI&amp;placeid=" />
  </appSettings>
</configuration>